@font-face {
    font-family: 'BlackJack';
    src: url('fonts/blackjack-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Brawler';
    src: url('fonts/brawler-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.row {
	padding: 50px 0;
}

header {
	padding: 50px 0;
	background-color: #ff832b;
}

.title-cover {
	background-color: #2b6eff;
	padding: 20px;
	border: solid 5px #000;
	width: 50%;
	margin: 0 auto;
}

.buttons-wrap img {
	width: 50px;
	height: auto;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	text-align: center;
	font-family: 'Blackjack', sans-serif;

}

h2 {
	font-family: 'Blackjack', sans-serif;
}

p {
	font-family: 'Brawler', serif;
	font-size: 18px;
	line-height: 26px;

}
@media only screen and (max-width: 600px) {
		
}